* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

img {
    height: 100px;
    width: 100px;
    max-width: 100%;
}

.pf {
    text-align: center;
    color: white;
    margin-top: 15px;
}

p {
    color: white;
    animation-name: portfolio;
    animation-duration: 10s;
}

@keyframes portfolio {
    0% {
        background-color: red;
    }

    25% {
        background-color: rgb(227, 25, 156);
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: rgb(14, 80, 246);
    }
}

ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0;
  
   
    list-style-type: none;


}

.exp {
    color: rgb(153, 39, 224);
    animation: blinker 8s linear infinite;
}



@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h3 {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
    position: fixed;
}

.p-3 {
    margin-top: 10px;
    position: relative;
}

.nav {
    margin-bottom: 2px;
  
}

.span {
    color: crimson;
    animation: span 0.5s linear infinite;
    font-size: 50px;

}

@keyframes span {
    25% {
        opacity: 0;
    }
}

button {
    margin-left: 390px;
    text-align: center;
    background-color: blueviolet;
    margin-top: 4px;
}

button:hover {
    color: rgb(28, 239, 239);
}

.skills {
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.git{
    margin-left: -588px;
    position: absolute;
   
}
.res{
    margin-left: 50px;
    position: relative;

   
}

.link{
    margin-bottom: 50px;
}

footer li{
color: lightgreen;
}

footer li:hover{
color: rgb(217, 209, 209);
}

@media only screen and (min-width: 150px) {
body {
  background-color: rgb(0, 0, 0);
}
}

.la{
    color: rgb(173, 179, 173);
}


.lang{
    font: bold;
    color: rgb(115, 59, 167);
    background-color: rgb(13, 13, 13);

}

.my-ed{
    color: rgb(173, 179, 173);

}

.ed{
    font: bold;
    color: rgb(115, 59, 167);
    background-color: rgb(13, 13, 13);
}

.fr-dev{
    color: rgb(173, 179, 173);

}

.dev{
    font: bold;
    color: rgb(115, 59, 167);
    background-color: rgb(13, 13, 13);
}

.doc{
    color: white;
    font: bolder;
}

.a-1{
    border: 2px solid rebeccapurple;
}

.a-2{
    border: 2px solid rebeccapurple;
}

.sp-1{
    color: crimson;
}

.sp-2{
    color: crimson;
}